#chat_window {
    background-color: #000000;
    background-image: url("../images/backgrounds/cia-background.jpg");
    background-size: cover;
    background-position: center;
}

#scroll_menu {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 3px #242b42;
}

#chat_area {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 3px #242b42;
}

#chat_view {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 3px #242b42;
}

#chat_entry , #contact_entry{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #0055ff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 5px 3px #242b42;
}

#send_button, #logout_button, #file_button, #conv_button{
    border-radius: 4px;
    padding: 4px 8px;
}

#send_button:hover, #logout_button:hover, #file_button:hover {
    background-color: #ff0000;
}
