#chat_window {
    background-color: #000000;
    background-image: url("../images/backgrounds/cia-background.jpg");
    background-size: cover;
    background-position: center;
}

#scroll_menu {
    border-radius: 5px;
    padding: 10px;
    background-color: #000000;
    box-shadow: 0 0 5px 3px #242b42;
}

#chat_area {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 3px #242b42;
}

#chat_view {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 3px #242b42;
}

#chat_entry,
#conv_name_entry,
#contact_entry {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #0055ff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0 0 5px 3px #242b42;
}

#send_button,
#logout_button,
#file_button,
#new_button,
#contact_button {
    border-image: none;
    border-color: #000000;
    background-image: none;
    color: #ffffff;
    box-shadow: 0 0 5px 3px #242b42;
    border-radius: 4px;
}

#send_button:hover,
#logout_button:hover,
#file_button:hover,
#new_button:hover {
    background-color: #242b42;
}

list {
    border-image: none;
    background-color: black;
    background-image: none;
    box-shadow: 0 0 5px 3px #242b42;
    border-radius: 4px;
}

list row {
    padding: 10px 20px 10px 20px;
    background-color: #000000;
}

list row button {
    border-image: none;
    border-color: #000000;
    background-image: none;
    color: #ffffff;
    box-shadow: 0 0 5px 3px #242b42;
    border-radius: 4px;
}

list row button:selected,
list row button:hover{
    background-color: #242b42;
}

textview selection {
    background-color: #4a90d9;
    color: #ffffff;
}
